{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["safari >= 6","ios >= 6","android >= 4.4"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"]
}
