/* 提现 */
.withdraw-top {
  padding: 20px 15px;
  text-align: center;
  font-size: 12px;
  color: #999;
  /* border-top: 6px solid #f7f7f7; */
  border-bottom: 1px solid #f7f7f7;
}

.withdraw-top .count {
  margin-bottom:6px;
  display:block;
  font-size:14px;
  line-height:20px;
  font-weight: 400;
  color:rgba(102,102,102,1)
}
.withdraw-top .money{
  font-size:25px;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:27px;
}
.content .tips{
  padding:30px 0 12px 0;
  text-align: center;
  font-size:14px;
  font-weight:400;
  color:rgba(51,51,51,1);
  line-height:20px;
}
.content .button{
  display: block;
  margin:0 auto;
  padding:0 75px;
  height:42px;
  background:rgba(254,105,98,1);
  border-radius:22px;
  font-weight:500;
  font-size:16px;
  color:rgba(255,255,255,1);
}